{% extends "layout.html"%}
{% block content%}
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<legend>Type it in stupid</legend>
		{{form.username.label}}
		{%if form.username.errors%}
			{%for error in form.username.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.username}}
		{{form.password.label}}
		{%if form.password.errors%}
			{%for error in form.password.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.password}}
		{{form.remember.label}}
		{{form.remember}}
		{{form.submit}}
	</form>
{%endblock content%}